<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>About</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Quattrocento" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/widgets.css">


</head>
<body class="page">

<!-- Wrapper Site -->

<div id="wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader_6">
            <div class="loader-content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <div class="kd-container">
        <div class="kd-row">

            <!-- Header -->
            <header id= "header" class="header">

                <div class="wrap-header-responsive">
                    <div class="header-responsive">
                        <div class="kd-container">
                            <div class="kd-row">
                                <div class="menu-mobile">
                                    <span class="item item-1"></span>
                                    <span class="item item-2"></span>
                                    <span class="item item-3"></span>
                                </div>
                                <div class="header-share">
                                    <i class="fa fa-share-alt"></i>
                                </div>
                                <div class="header-search">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Header Top-->
                <div class="header-fixed clearfix">
                    <nav class="menu-top">
                        <ul class="menu menu-top-list">
                            <li class="menu-item">
                                <a href="index-2.html">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Trips</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Travel</a>
                            </li>
                            <li class="menu-item">
                                <a href="about.html">About</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-socials">
                        <ul>
                            
                            <li class="social-item">
                                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                            </li>
                            <li class="social-item">
                                <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                            </li>
                           
                            <li class="social-item">
                                <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-popup header-popup-search">
                    <div class="header-close">
                        x
                    </div>
                    <div class="header-table">
                        <div class="header-tb-cell">
                            <form action="#">
                                <input type="text" placeholder="Press enter to search"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-popup header-popup-social">
                    <div class="header-close">
                        x
                    </div>
                    <div class="header-table">
                        <div class="header-tb-cell">
                            <ul>
                             
                                <li class="social-item">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                </li>
                              
                                <li class="social-item">
                                    <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Header Top-->

                <!-- Logo -->
                <div class="logo">
                    <div class="kd-container">
                        <div class="kd-row">
                            <a href="index-2.html">
                                <img src="images/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Logo -->

               

            </header>
            <!-- End Header -->

            <!-- Posts -->
            <div class="wrapper-content clearfix" data-sidebar="right">

                <div class="wrapper-posts">
                    <div class="blog-posts">
                        <div class="post">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/featured/2.jpg" alt="About">
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="title">
                                    <a href="#">About</a>
                                </h2>
                                <div class="the-excerpt">
                                    Sed laoreet tortor vitae ipsum iaculis dapibus. Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor. Morbi ullamcorper ac velit et laoreet. Proin at consequat ipsum. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
                                    Phasellus molestie, lectus sed dapibus volutpat, ligula tortor tincidunt purus, et imperdiet erat sem vel mauris. Nam nulla tortor, imperdiet et tincidunt nec, ornare sit amet risus. Aliquam malesuada bibendum gravida. Nullam blandit sagittis felis in ullamcorper. Vivamus varius sem vehicula, tempus arcu scelerisque, lobortis quam. Sed mollis nibh eget semper consequat.
                                    <h5>LOREM IPSUM DOLOR SIT AMET</h5>
                                    Aenean ac porttitor diam. Sed imperdiet mi rutrum metus porta pretium. Vestibulum fermentum lectus quis erat convallis volutpat. Vestibulum tristique semper lacus vitae commodo. Aliquam sollicitudin purus at placerat placerat.

                                    &nbsp;
                                    <blockquote>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.

                                        <footer>Maud Matanga</footer></blockquote>
                                    Suspendisse eleifend nulla ac rhoncus egestas. Sed vehicula ipsum vitae finibus condimentum. Phasellus rhoncus, nulla et sodales sodales, massa nisl volutpat odio, ac sodales risus metus sollicitudin odio. Proin et nibh a urna congue posuere. Proin lobortis sodales arcu sed volutpat. Proin sem turpis, sollicitudin ac augue in, aliquet mollis metus. Duis quam lorem, consequat a sapien eget, dignissim rhoncus turpis. Donec dictum eget nibh lobortis eleifend. Vestibulum sed porta sem. Etiam egestas velit dolor, a pretium elit finibus a. Donec tempus purus vel consequat pulvinar. Pellentesque at eros nec felis consectetur consequat in et turpis. Donec at erat venenatis, imperdiet sapien quis, molestie nisi. Phasellus metus nisi, placerat quis scelerisque sit amet, dapibus eget massa. Nunc egestas congue metus. Fusce facilisis purus quis diam fermentum, vitae bibendum metus porttitor.

                                    <p>
                                        <img src="images/sign.png" alt="Sign" style="margin-top: 30px">
                                    </p>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="sidebar">

                    <!-- Widget About -->
                    <div class="widget ntp-about">
                        <h2 class="widget-title">
                            About me
                        </h2>
                        <div class="widget-content">
                            <img src="images/widgets/about-me.jpg" alt="">

                            <h2 class="title">
                                <a href="#">Maud Matanga</a>
                            </h2>
                            <p class="ntp-description">
                            I am middle aged wife and mother of 5 who is devoted to God, Husband and Family. I have had my fair share of experience in life and this platform serves to allow people to share their experinces in life. 
                            </p>

                        </div>
                    </div>
                    <!-- End Widget About -->

                    <!-- Follow Me -->
                    <div class="widget ntp-follow"><h2 class="widget-title">Follow</h2>
                        <div class="ntp-description">
                            <p>Various versions have evolved over the years, sometimes. Various versions have evolved over</p>
                        </div>
                        <div class="widget-follow-content ntp-social-square">
                            
                            <a href="#" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Follow Me -->


                    <!-- Banner -->
                    <div class="widget ntp-banner">
                        <h2 class="widget-title">Banner</h2>
                        <div class="widget-banner-content">
                            <img src="images/advertise.png" alt="Banner">
                        </div>
                    </div>
                    <!-- End Banner -->

                   

                   

                

                    <!-- Contact -->
                    <div class="widget ntp-contact">
                        <h2 class="widget-title ">Contact Me</h2>
                        <div class="widget-contact-content">
                            <div class="ntp-description">
                                <p>
                                   The following is my contact Details.
                                </p>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-map-marker"></i>
                                <span>
                                    108 Nusery Road
                                </span>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-envelope"></i>
                                <span>
                                   <a href="mailto:maud@lifeinthe40s.com">maud@lifeinthe40s.com</a>
                                </span>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-phone"></i>
                                <span>+263 773 098 474</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Contact -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer class="footer">

    <div class="footer-instagram">
        <ul class="instagram-pics clearfix">
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/1.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/2.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/3.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/4.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/5.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/6.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/7.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/8.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/9.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/10.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/11.jpg" alt="Flickr Feed"/>
                </a>
            </li>
        </ul>
    </div>

    <div class="kd-container">
        <div class="kd-row">
            <div class="logo-footer">
                <a href="index-2.html">
                    <img src="images/logo-footer.png" alt="Logo Footer">
                </a>
            </div>

            <nav class="menu-bottom">
                <ul class="menu menu-top-list">
                    <li class="menu-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="/about">About</a>
                    </li>
                    
                </ul>
            </nav>

            <div class="header-socials">
                <ul>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>

             <div class="copyright">
                <p>All right reserved, developed by <a href="https://developerprince.herokuapp.com">Developer Prince</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script type="text/javascript" src="javascripts/js/libs/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="javascripts/js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="javascripts/js/libs/masonry.min.js"></script>
<script type="text/javascript" src="javascripts/js/scripts.js"></script>

</body>
</html>