<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>lifeinthe40s</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Quattrocento" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/widgets.css">

</head>
<body>

<!-- Wrapper Site -->

<div id="wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader_6">
            <div class="loader-content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <div class="kd-container">
        <div class="kd-row">

                        <!-- Header -->
                        <header class="header">

                                <div class="wrap-header-responsive">
                                    <div class="header-responsive">
                                        <div class="kd-container">
                                            <div class="kd-row">
                                                <div class="menu-mobile">
                                                    <span class="item item-1"></span>
                                                    <span class="item item-2"></span>
                                                    <span class="item item-3"></span>
                                                </div>
                                                <div class="header-share">
                                                    <i class="fa fa-share-alt"></i>
                                                </div>
                                                <div class="header-search">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Header Top-->
                                <div class="header-fixed clearfix">
                                    <nav class="menu-top">
                                        <ul class="menu menu-top-list">
                                            <li class="menu-item">
                                                <a href="/">Home</a>
                                            </li>
                                            
                                            <li class="menu-item">
                                                <a href="#">Travel</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="about.html">About</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact.html">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="header-socials">
                                        <ul>
                                            <li class="social-item">
                                                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                            </li>
                                            <li class="social-item">
                                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                                            </li>
                                            <li class="social-item">
                                                <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-popup header-popup-search">
                                    <div class="header-close">
                                        x
                                    </div>
                                    <div class="header-table">
                                        <div class="header-tb-cell">
                                            <form action="#">
                                                <input type="text" placeholder="Press enter to search"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-popup header-popup-social">
                                    <div class="header-close">
                                        x
                                    </div>
                                    <div class="header-table">
                                        <div class="header-tb-cell">
                                            <ul>

                                                <li class="social-item">
                                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                                </li>
                                                <li class="social-item">
                                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                                </li>
                                                <li class="social-item">
                                                    <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Header Top-->
                
                         
                
                            </header>
                            <!-- End Header -->

            <!--lOGIN -->
            <div class="row justify-content-center mt-3">
                <div  class="container-fluid col-lg-6 col-md-6 col-sm-12 login-form mt-3">
                <h1 class="header-1 justify-content-center">Log In</h1>
                    <form method="POST" action="/users">
                        <div class="form-group">
                        <label for="useremail">Use Email</label>
                        <% if(authfail == true){ %>
                        <div class="alert alert-danger" role="alert">
                        Incorrect Email
                        </div>
                        <% } %>
                        <input type="text" class="form-control auth-input" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                        <label for="userpassword">Password</label>
                        <% if(authfail == true){ %>
                        <div class="alert alert-danger" role="alert">
                        Or Incorrect Password
                        </div>
                        <% } %>
                        <input type="password" class="form-control auth-input" name="password" placeholder="Password">
                        </div>
                        <div class="auth-item form-submit">
                            <button type="submit" class="btn btn-primary auth-btn btn-lg mb-3">Login</button>
                        </div>
                        <div class="mb-3">
                        <span class="justify-content-center footer-1 mb-3">Do you have an Account? <a href="/users/register"  class="signup-lnk">Sign Up</a> </span>
                        </div>
                    </form>
                </div>
            </div>
            <!--END LOGIN-->

        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer class="footer">

    <div class="footer-instagram">
        <ul class="instagram-pics clearfix">
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/1.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/2.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/3.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/4.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/5.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/6.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/7.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/8.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/9.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/10.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/11.jpg" alt="Flickr Feed"/>
                </a>
            </li>
        </ul>
    </div>

    <div class="kd-container">
        <div class="kd-row">
            <div class="logo-footer">
                <a href="/">
                    <img src="images/logo-footer.png" alt="Logo Footer">
                </a>
            </div>

            <nav class="menu-bottom">
                <ul class="menu menu-top-list">
                    <li class="menu-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Trips</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Travel</a>
                    </li>
                    <li class="menu-item">
                        <a href="about.html">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="header-socials">
                <ul>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>

            <div class="copyright">
                <p>All right reserved, developed by <a href="https://developerprince.herokuapp.com">Developer Prince</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script type="text/javascript" src="javascripts/js/libs/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="javascripts/js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="javascripts/js/libs/masonry.min.js"></script>
<script type="text/javascript" src="javascripts/js/scripts.js"></script>

</body>

<!-- Mirrored from template.kendytheme.net/voyage/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 16 Dec 2018 13:53:34 GMT -->
</html>
