<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>lifeinthe40s</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Quattrocento" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/libs/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/widgets.css">

</head>
<body>

<!-- Wrapper Site -->

<div id="wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader_6">
            <div class="loader-content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <div class="kd-container">
        <div class="kd-row">

            <!-- Header -->
            <header class="header">

                <div class="wrap-header-responsive">
                    <div class="header-responsive">
                        <div class="kd-container">
                            <div class="kd-row">
                                <div class="menu-mobile">
                                    <span class="item item-1"></span>
                                    <span class="item item-2"></span>
                                    <span class="item item-3"></span>
                                </div>
                                <div class="header-share">
                                    <i class="fa fa-share-alt"></i>
                                </div>
                                <div class="header-search">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Top-->
                <div class="header-fixed clearfix">
                    <nav class="menu-top">
                        <ul class="menu menu-top-list">
                            <li class="menu-item">
                                <a href="index-2.html">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Trips</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Travel</a>
                            </li>
                            <li class="menu-item">
                                <a href="about.html">About</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact</a>
                            </li>
                            <li class="menu-item">
                                <a href="/users">Login</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-socials">
                        <ul>
                            <li class="social-item">
                                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                            </li>
                            <li class="social-item">
                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                            </li>
                            <li class="social-item">
                                <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-popup header-popup-search">
                    <div class="header-close">
                        x
                    </div>
                    <div class="header-table">
                        <div class="header-tb-cell">
                            <form action="#">
                                <input type="text" placeholder="Press enter to search"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-popup header-popup-social">
                    <div class="header-close">
                        x
                    </div>
                    <div class="header-table">
                        <div class="header-tb-cell">
                            <ul>
                                <li class="social-item">
                                    <a href="https://www.behance.net/"><i class="fa fa-behance"></i><span>Behance</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="http://dribbble.com/"><i class="fa fa-dribbble"></i><span>Dribbble</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                                </li>
                                <li class="social-item">
                                    <a href="http://twitter.com/"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Header Top-->

                <!-- Logo -->
                <div class="logo">
                    <div class="kd-container">
                        <div class="kd-row">
                            <a href="index-2.html">
                                <img src="images/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Logo -->

                <!-- Menu -->
                <nav class="main-menu nav-menu">
                    <ul class="menu menu-list">
                        <li class="menu-item">
                            <a href="index-2.html">Home</a>
                        </li>
                        <li class="menu-item current-menu-item menu-item-has-children">
                            <a href="#">Features</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Standard Layout</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="standard-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="standard-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="standard-without-sidebar.html">Without Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Grid Layout</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="grid-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="grid-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="grid-without-sidebar.html">Without Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="grid-1st-large.html">1st Large</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="grid-three-column.html">Three Column</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="grid-1st-large-three-column.html">Three Column 1st Large</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">List Layout</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="list-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="list-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="list-without-sidebar.html">Without Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="list-1st-large.html">1st Large</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#">Lifestyle</a>
                        </li>
                        <li class="menu-item">
                            <a href="single.html">Single</a>
                        </li>
                        <li class="menu-item">
                            <a href="about.html">About</a>
                        </li>
                        <li class="menu-item">
                            <a href="contact.html">Contact</a>
                        </li>
                        <li class="menu-item">
                            <a href="/users">Login</a>
                        </li>
                    </ul>

                    <div class="item-search">
                        <i class="fa fa-search"></i>
                    </div>
                </nav>
                <!-- End Menu -->

            </header>
            <!-- End Header -->

            <!-- Featured Slider -->
            <div id="featured-slider" class="featured-slider">
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/1.jpg); ">
                        <img src="images/featured/1.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">
                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Lifestyle</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="single.html">The secret made women the beauty</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/2.jpg); ">
                        <img src="images/featured/2.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">
                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="#">Beautiful</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="#">LIFE IS CHOICES, AND LET’S CHOOSE JOY</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/3.jpg); ">
                        <img src="images/featured/3.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">
                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Beautiful</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="#">LET’S DEPEND UPON ONE’S OWN EFFORTS</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image:url(images/featured/4.jpg); ">
                        <img src="images/featured/4.jpg" alt="Featured Slider">
                    </div>
                    <div class="content">
                        <div class="content-box">

                            <div class="post-cat">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Beautiful</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="title">
                                <a href="single.html">THE SECRET MADE WOMEN THE BEAUTY</a>
                            </h2>
                            <div class="item-entry">
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin
                                </p>
                            </div>
                            <div class="read-more">
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Featured Slider -->

            <!-- Featured Box -->
            <div id="featured-box" class="featured-box">
                <div class="featured-box-item">
                    <div class="image" style="background-image: url(images/featured-box/featured-box-1.jpg)">
                        <a href="#">
                            <img src="images/featured-box/featured-box-1.jpg" alt="Lifestyle">
                            <div class="box-border-line">
                                <div class="box-line box-line-top"></div>
                                <div class="box-line box-line-right"></div>
                                <div class="box-line box-line-bottom"></div>
                                <div class="box-line box-line-left"></div>
                            </div>
                        </a>
                        <h2 class="title">Lifestyle</h2>
                    </div>
                </div>
                <div class="featured-box-item">
                    <div class="image" style="background-image: url(images/featured-box/featured-box-2.jpg)">
                        <a href="#">
                            <img src="images/featured-box/featured-box-2.jpg" alt="Discover">
                            <div class="box-border-line">
                                <div class="box-line box-line-top"></div>
                                <div class="box-line box-line-right"></div>
                                <div class="box-line box-line-bottom"></div>
                                <div class="box-line box-line-left"></div>
                            </div>
                        </a>
                        <h2 class="title">Discover</h2>
                    </div>
                </div>
                <div class="featured-box-item">
                    <div class="image" style="background-image: url(images/featured-box/featured-box-3.jpg)">
                        <a href="#">
                            <img src="images/featured-box/featured-box-1.jpg" alt="Contact">
                            <div class="box-border-line">
                                <div class="box-line box-line-top"></div>
                                <div class="box-line box-line-right"></div>
                                <div class="box-line box-line-bottom"></div>
                                <div class="box-line box-line-left"></div>
                            </div>
                        </a>
                        <h2 class="title">Contact</h2>
                    </div>
                </div>
            </div>
            <!-- End Featured Box -->

            <!-- Posts -->
            <div class="wrapper-content clearfix" data-sidebar="right">

                <div class="wrapper-posts">
                    <div class="blog-posts grid-layout clearfix">
                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/1.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/2.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/3.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/4.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/5.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/6.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/7.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/8.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/9.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/10.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/11.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/12.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/13.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post post-grid">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/posts/14.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <ul>
                                        <li>
                                            <a href="#">Travel</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 class="title">
                                    <a href="#">The basis of friendship is sharing</a>
                                </h2>
                                <div class="post-detail">
                                    <a href="#" class="date">September 14, 2016</a>
                                    <a href="#" class="comment-count">3 Comments</a>
                                </div>

                                <div class="the-excerpt">
                                    Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris. Phasellus molestie, lectus
                                </div>

                                <div class="post-footer clearfix">
                                    <div class="wrap-read-more">
                                        <div class="read-more">
                                            <a href="#">Continue Reading</a>
                                        </div>
                                    </div>
                                    <div class="post-share">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-wrap">
                        <ul class="pagination clearfix">
                            <li>
                                <span class="page-numbers current">1</span>
                            </li>
                            <li>
                                <a class="page-numbers" href="#">2</a>
                            </li>
                            <li>
                                <a class="page-numbers" href="#">3</a>
                            </li>
                            <li>
                                <span class="page-numbers dots">…</span>
                            </li>
                            <li>
                                <a class="page-numbers" href="#">6</a>
                            </li>
                            <li>
                                <a class="next page-numbers" href="#"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar">

                    <!-- Widget About -->
                    <div class="widget ntp-about">
                        <h2 class="widget-title">
                            About me
                        </h2>
                        <div class="widget-content">
                            <img src="images/widgets/about-me.jpg" alt="">

                            <h2 class="title">
                                <a href="#">William Shatner</a>
                            </h2>
                            <p class="ntp-description">
                                Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque duis ullamcorper Adipiscing aliquet lectus.Amet augue rutrum gravida tellus nostra integer netus
                            </p>

                            <div class="ntp-button">
                                <a href="#">Read Me</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Widget About -->

                    <!-- Follow Me -->
                    <div class="widget ntp-follow"><h2 class="widget-title">Follow</h2>
                        <div class="ntp-description">
                            <p>Various versions have evolved over the years, sometimes. Various versions have evolved over</p>
                        </div>
                        <div class="widget-follow-content ntp-social-square">
                            <a href="#" title="Behance">
                                <i class="fa fa-behance"></i>
                            </a>
                            <a href="#" title="Dribbble">
                                <i class="fa fa-dribbble"></i>
                            </a>
                            <a href="#" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Follow Me -->

                    <!-- Latest Posts -->
                    <div class="widget ntp-latest-posts">
                        <h2 class="widget-title">Latest Posts</h2>
                        <div class="widget-list">
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/1.jpg')">
                                        <img src="images/widgets/posts/1.jpg" alt="I have a happy and peaceful fife there">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">I have a happy and peaceful fife there</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/2.jpg')">
                                        <img src="images/widgets/posts/2.jpg" alt="Their happiness comes before anything else">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">Their happiness comes before anything else</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/3.jpg')">
                                        <img src="images/widgets/posts/3.jpg" alt="The basis of friendship is sharing">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">The basis of friendship is sharing</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/16.jpg')">
                                        <img src="images/widgets/posts/16.jpg" alt="The sooner you try the sooner you can succeed">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">The sooner you try the sooner you can succeed</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Latest Posts -->

                    <!-- Popular Posts -->
                    <div class="widget ntp-popular-post">
                        <h2 class="widget-title">Popular Posts</h2>
                        <div class="widget-list">
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/6.jpg')">
                                        <img src="images/widgets/posts/6.jpg" alt="A high risk investment may bring you big profit">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">A high risk investment may bring you big profit</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/11.jpg')">
                                        <img src="images/widgets/posts/11.jpg" alt="Introducing Your Newest Model home for the Fashion">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">Introducing Your Newest Model home for the Fashion</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/14.jpg')">
                                        <img src="images/widgets/posts/14.jpg" alt="Enjoy the fruits of your labour">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">Enjoy the fruits of your labour</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <a href="#">
                                    <div class="item-image" style="background-image: url('images/widgets/posts/4.jpg')">
                                        <img src="images/widgets/posts/4.jpg" alt="The sooner you try the sooner you can succeed">
                                    </div>
                                </a>
                                <div class="widget-item-content">
                                    <h3 class="item-title">
                                        <a href="#">The sooner you try the sooner you can succeed</a>
                                    </h3>
                                    <a href="#" class="item-meta"><span>October 9, 2016</span></a>
                                    <a href="#" class="item-comment">3 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Popular Posts -->

                    <!-- MailChimp -->
                    <div class="widget ntp-mailchimp">
                        <h2 class="widget-title">Mailchimp</h2>
                        <p class="ntp-description">Paste into the external application you'd like to conquer connect to.
                            Or just scan the QR code below.
                        </p>
                        <form class="ntp-subscribe">
                            <div class="form-item form-remove">
                                <input type="email" class="ntp-subscribe-email" placeholder="Your mail..." value="" required="">
                            </div>
                            <div class="form-submit form-remove">
                                <input type="submit" class="ntp-btn ntp-subscribe" value="">
                            </div>
                        </form>
                        <p class="ntp-description ntp-subdescription">Egestas vel leo tempus, luctus dapibus mauris</p>
                        <p class="subscribe-status"></p>
                    </div>
                    <!-- End MailChimp -->

                    <!-- Banner -->
                    <div class="widget ntp-banner">
                        <h2 class="widget-title">Banner</h2>
                        <div class="widget-banner-content">
                            <img src="images/advertise.png" alt="Banner">
                        </div>
                    </div>
                    <!-- End Banner -->

                    <!-- Instagram -->
                    <div class="widget ntp-flickr">
                        <h2 class="widget-title">Flickr Feed</h2>
                        <div class="ntp-instagram-content widget-grid">
                            <div class="item">
                                <a href="#">
                                    <img src="images/widgets/instagram/1.jpg" alt="Flickr Feed">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/widgets/instagram/2.jpg" alt="Flickr Feed">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/widgets/instagram/3.jpg" alt="Flickr Feed">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/widgets/instagram/4.jpg" alt="Flickr Feed">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/widgets/instagram/5.jpg" alt="Flickr Feed">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/widgets/instagram/6.jpg" alt="Flickr Feed">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Instagram -->

                    <!-- Twitter -->
                    <div class="widget ntp-twitter">
                        <h2 class="widget-title">Recent Tweets</h2>
                        <div class="widget-tweet-content widget-twitter-slide">
                            <div class="item">
                                <div class="widget-item-content">
                                    <p><a href="#" target="_blank">Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque duis ullamcorper Adipiscing</a></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="widget-item-content">
                                    <p><a href="#" target="_blank">Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque duis ullamcorper Adipiscing</a></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="widget-item-content">
                                    <p><a href="#" target="_blank">Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque duis ullamcorper Adipiscing</a></p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="widget-item-content">
                                    <p><a href="#" target="_blank">Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque duis ullamcorper Adipiscing</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Twitter -->

                    <!-- TAGS -->
                    <div class="widget widget_tag_cloud">
                        <h2 class="widget-title">Tags</h2>
                        <div class="tagcloud">
                            <a href="#">Travel</a>
                            <a href="#">Lifestyle</a>
                            <a href="#">Beautiful</a>
                            <a href="#">Diary</a>
                            <a href="#">Friendliness</a>
                            <a href="#">Interest</a>
                            <a href="#">Investment</a>
                        </div>
                    </div>
                    <!-- End TAGS -->

                    <!-- Contact -->
                    <div class="widget ntp-contact">
                        <h2 class="widget-title ">Contact Me</h2>
                        <div class="widget-contact-content">
                            <div class="ntp-description">
                                <p>
                                    Amet augue rutrum gravida tellus nostra integer netus, feugiat sociis. Euismod nunc lacus ante commodo tortor montes eu duis orci tempor iaculis sociosqu.
                                </p>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-map-marker"></i>
                                <span>
                                    75 Washington DC                     </span>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-envelope"></i>
                                <span>
                                   <a href="mailto:kendytheme.ksb@gmail.com">kendytheme.ksb@gmail.com</a>
                                </span>
                            </div>
                            <div class="item-icon-left ntp-description">
                                <i class="fa fa-phone"></i>
                                <span>+123 456 789</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Contact -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer class="footer">

    <div class="footer-instagram">
        <ul class="instagram-pics clearfix">
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/1.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/2.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/3.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/4.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/5.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/6.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/7.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/8.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/9.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/10.jpg" alt="Flickr Feed"/>
                </a>
            </li>
            <li class="instagram-item">
                <a href="#">
                    <img src="images/widgets/instagram/11.jpg" alt="Flickr Feed"/>
                </a>
            </li>
        </ul>
    </div>

    <div class="kd-container">
        <div class="kd-row">
            <div class="logo-footer">
                <a href="index-2.html">
                    <img src="images/logo-footer.png" alt="Logo Footer">
                </a>
            </div>

            <nav class="menu-bottom">
                <ul class="menu menu-top-list">
                    <li class="menu-item">
                        <a href="index-2.html">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Trips</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Travel</a>
                    </li>
                    <li class="menu-item">
                        <a href="about.html">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="header-socials">
                <ul>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li class="social-item">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>

            <div class="copyright">
                <p>All right reserved, developed by <a href="https://developerprince.herokuapp.com">Developer Prince</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script type="text/javascript" src="javascripts/js/libs/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="javascripts/js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="javascripts/js/libs/masonry.min.js"></script>
<script type="text/javascript" src="javascripts/js/scripts.js"></script>

</body>
</html>
