body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.btn-none{
  background-color: none !important;
  border-color: none !important;
}
a {
  color: #00B7FF;
}
